<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/_header') %>
  <div class="card text-center"></div>
  <div class="card-header"></div>
  <div class="card-body">
    <h5 class="card-title">TinyURL for: <%= longURL %></h5>
    <p class="card-text">
      Short URL ID: <a href="/u/<%= id %>"><%= id %></a>
    </p>
  </div>
  <div class="card-footer text-muted">
    <h5 class="card-title">Edit</h5>
    <p class="card-text">
      <form action="/urls/<%= id %>" method="POST">
        New URL: <input type="text" name="long URL" placeholder="Enter new URL" />
        <button type="submit"class="btn btn-primary">Submit</button>
      </form>
    </p>
  </div>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
</head>
  <body>
    <h1>Registration Form</h1>
    <form action="/register" method="POST">
      <label>Email</label>
      <input type="text" name="email" placeholder="Email"></input>
      <label>Password</label>
      <input type="password" name="password" placeholder="Password"></input>
      <button type="submit">Log In</button>
    </form>
</body>
</html>